.container{
    display: flex;
    margin-top: 7%;
    height: 400px;
    width: 400px;
    margin-left: 33%;
    border-radius: 20px 20px 20px 20px;
    padding: 30px;
    background-color: lightblue;
}
image{
    height: 400px;
    width: 400px;
}
h1{
    display: flex;
    margin-left: 110px;
    margin-top: 3px;
}
.todo{
    display: flex;
    margin-top: 30px;
    margin-left: 55px;
    height: 40px;
    width: 100%;
}
input{
    display: flex;
    width: 100%;
    border: none;
}
button{
    width: 55px;
    background-color: coral;
    border-radius: 5px;
    border: none;
}

#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 30px 20px;
    margin-top: 10px;
}
.task{
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
    padding: 5px 10px;
    margin-left: 32px;
    
}

.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #0a2ea4;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 45px;
    width: 30px;
    border-radius: 5px;
}